{% extends 'base.html.twig' %}

    {% block content_header %}
        <a href="{{ path('new_category') }}">
            <button type="button" class="btn btn-block btn-default btn-lg btn-new">Nouvelle Category</button>
        </a>
    {% endblock %}

    {% block content %}

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Archives</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="data" class="table table-bordered table-striped" >
                            <thead>
                            <tr>
                                <th>{{ 'app.consultant'|trans }}</th>
                                <th>{{ 'app.category'|trans }}</th>
                                <th>{{ 'app.note'|trans }}</th>
                                <th>{{ 'app.comment'|trans }}</th>
                                <th>{{ 'app.date'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for catConsult in catConsults %}
                            <tr>
                                <td width="200">{{ catConsult.consultant.firstname }} {{ catConsult.consultant.lastname }}</td>
                                <td width="200">{{ catConsult.category.name }}</td>
                                <td width="200">{{ catConsult.note }}</td>
                                <td width="200">{{ catConsult.comment }}</td>
                                <td width="200">{{ catConsult.insertedAt|date("m/d/Y") }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    {% endblock %}


